
  
  .thBold {
    font: normal 700 18px/21px 'Roboto', sans-serif;
  }
  
  .thSmall {
    font: normal 700 11px/13px 'Roboto', sans-serif;
  }
  
  .tbBold {
    display: flex;
    flex-wrap: wrap;
    font: normal 400 18px/21px 'Roboto', sans-serif;
  }
  
  .tbSmall {
    font: normal 400 11px/13px 'Roboto', sans-serif;
  }
  